<div>
    {{> navbar}}
    <div class="body">
        <div class="board_header">
            <h1 id="board_name"></h1>
        </div>
        <div class="board_content">
            <img id="board_image"
                alt="Nombre del Tablero"
                class="board_image"
            />
            <div class="board_details">
                <p id="board_details">
                </p>
                <ul>
                    <li><strong>Autor:</strong> <span id="owner"></span></li>
                </ul>
            </div>
        </div>
    </div>
    {{> footer}}
</div>