
{{> navbar}}
<div class="body">
<h1>Game Board Options</h1>
    <div id="boardList" class="board-list">
        <a href="/classic-board" class="board-item">
            <img src="images/boardBasic.png" alt="Classic Board" />
            <h2>Classic Board</h2>
            <p>
                Enjoy the classic version of the game, perfect for both beginners
                and experienced players.
            </p>
        </a>
        <a href="/adventure-board" class="board-item">
            <img src="images/adventureBoard.jpg" alt="Adventure Board" />

            <h2>Adventure Board</h2>
            <p>
                A board full of surprises and challenges, ideal for those looking
                for an exciting and dynamic experience.
            </p>
        </a>
        <a href="/futuristic-board" class="board-item">
            <img src="images/FuturistBoard.webp" alt="Futuristic Board" />

            <h2>Futuristic Board</h2>
            <p>
                Explore a futuristic-themed board, featuring science fiction
                elements and advanced technology.
            </p>
        </a>
    </div>
</div>
{{> footer}}
