<div class="body">
	<header>
		<div class="logo">INFINITYBOARDS</div>
		<div class="tagline">Customize. Play. Connect.</div>
	</header>

	<div class="grid-container">
		<button class="grid-item" onclick="location.href='chat';">Chat</button>
		<button
			class="grid-item"
			onclick="location.href='marketplace';"
		>Marketplace</button>
		<button class="grid-item" onclick="location.href='play';">Play</button>
		<button
			class="grid-item"
			onclick="location.href='settings';"
		>Settings</button>
	</div>

	<footer>
		<ul>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Support</a></li>
			<li><a href="#">FAQs</a></li>
		</ul>
		<div class="social-media">
			<!-- Insert social media links here -->
			<a href="#">Facebook</a>
			<a href="#">Twitter</a>
			<a href="#">Instagram</a>
		</div>
	</footer>
</div>