{{> navbar}}
<div class="body">
	<header style="display: block;">
		<div>
			<div class="logo">INFINITYBOARDS</div>
			<div class="tagline">Customize. Play. Connect.</div>
		</div>
	</header>
	<div class="grid-container">
		<a class="grid-item" href="/chat">Chat</a>
		<a
			class="grid-item" href="/marketplace">Marketplace</a>
		<a class="grid-item" href="/play">Play</a>
		<a
			class="grid-item" href="/createBoard">Create</a>
	</div>
</div>
{{> footer}}