
{{> navbar}}
<div
    class="container d-flex align-items-center justify-content-center"
    style="height: 80vh"
    >
    <div class="text-center">
        <h1>Próximamente</h1>
        <p>
            Estamos trabajando en ello. ¡Estén atentos para más actualizaciones!
        </p>
    </div>
</div>
{{> footer}}