<div>
    {{> navbar}}
    <div class="body">
        <header style="display: block">
            <div>
                <div class="logo">INFINITYBOARDS</div>
                <div class="tagline">Customize. Play. Connect.</div>
            </div>
        </header>
        <div class="settings-container">
            <div class="user-info">
                <div class="user-details">
                    <h3>User Information</h3>
                    <p><strong>Name:</strong> <span id="name_settings"></span></p>
                    <p><strong>Username:</strong> <span id="username_settings"></span></p>
                    <p><strong>Email:</strong> <span id="email_settings"></span></p>
                    <p><strong>Role:</strong> <span id="role_settings"></span></p>
                </div>
                <div class="user-image">
                    <div>
                        <img id="user-profile" class="rounded-circle" src="https://project-servers.s3.us-east-2.amazonaws.com/profile-1714610242923-testPic1.jpg"  alt="User Image" style="display: none;">
                        <i id="user-circle-profile" class='rounded-circle fas fa-user-circle' style='font-size: 20vh; color: white;'></i>
                    </div>
                    <button 
                        id="editUser" 
                        type="button"
                        class="btn btn-primary"
                        data-toggle="modal"
                        data-target="#editUserModal"
					>edit</button>
                </div>
            </div>
            
            <div class="boards-section">
                <h3>Your Boards</h3>
                <div id="userBoards">
                    <div class="board-card">
                        <img
                            src="path_to_board_image.png"
                            alt="Board Name"
                            class="board-image"
                        />
                        <div class="board-info">
                            <p><strong>Board Name:</strong> Example Board</p>
                        </div>
                    </div>
                    <div class="board-card">
                        <img
                            src="path_to_board_image.png"
                            alt="Board Name"
                            class="board-image"
                        />
                        <div class="board-info">
                            <p><strong>Board Name:</strong> Example Board</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {{> footer}}
    </div>
</div>

<div
	class="modal fade"
	id="editUserModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="modelTitleId"
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Edit info</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form id="formEditUser">
				<div class="modal-body">
					<div class="form-group">
						<label for="email">Username</label>
						<input
							class="form-control"
							id="username_editUser"
							name="username"
							aria-describedby="emailHelp"
							placeholder="Enter username"
						/>
					</div>
					<div class="form-group">
						<label for="name">Name</label>
						<input
							class="form-control"
							id="name_editUser"
							name="name"
							aria-describedby="emailHelp"
							placeholder="Enter full name"
						/>
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input
							type="password"
							class="form-control"
							id="password_editUser"
							name="password"
							placeholder="Password"
						/>
					</div>
                    <div class="form-group">
                        <label for="file_editUser">Profile Picture</label>
                        <input
                            type="file"
                            class="form-control"
                            id="profilePicture"
                            name="profilePicture"
                        />
                    </div>
				</div>
				<div class="modal-footer">
					<button
						type="button"
						class="btn btn-secondary"
						data-dismiss="modal"
					>Close</button>
					<button
						id="submitSignUp"
						type="submit"
						class="btn btn-primary"
					>Save</button>
				</div>
			</form>
		</div>
	</div>
</div>